Repository magento/graphql-ce, pull requests merged in 2019-11, with the labels that each got.

#1036 [Editorial] Fix typo: replace "shoud" to "should"
  app/code/Magento/DownloadableGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Component: DownloadableGraphQl, Progress: accept, Progress: approved, Release Line: 2.3

#1034 Extend test testSetNewShippingAddressWithMissedRequiredParameters
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetShippingAddressOnCartTest.php
Labels: Auto-Tests: Covered, Progress: approved, Release Line: 2.3, test-coverage

#1056 Refactor Magento\GraphQl\Quote\Customer\GetCustomerCartTest
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetCustomerCartTest.php
Labels: Auto-Tests: Covered, Progress: accept, Progress: approved, Release Line: 2.3

#1053 magento/devdocs#: createCustomer. Test coverage. Case: create new customer with the email of already existent user
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/CreateCustomerTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#1051 magento/graphql-ce#: Add missed annotation blocks to Magento\GraphQl\Customer\CreateCustomerTest
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/ChangeCustomerPasswordTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/CreateCustomerAddressTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/CreateCustomerTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/DeleteCustomerAddressTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/GetAddressesTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/GetCustomerTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/SubscriptionStatusTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/UpdateCustomerAddressTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/UpdateCustomerTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/AddSimpleProductToCartTest.php
Labels: Auto-Tests: Not Required, Cleanup, Partner: Atwix, Progress: accept, Progress: changes requested, Release Line: 2.3, partners-contribution

#1052 magento/graphql-ce# Remove redundant logic in createCustomer mutation
  app/code/Magento/CustomerGraphQl/Model/Resolver/CreateCustomer.php
Labels: Auto-Tests: Not Required, Cleanup, Component: CustomerGraphQl, Partner: Atwix, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution
