Repository magento/graphql-ce, pull requests merged in 2019-09, with the labels that each got.

#863 graphQl-814: remove a configurable item from cart test coverage
  dev/tests/api-functional/testsuite/Magento/GraphQl/ConfigurableProduct/RemoveConfigurableProductFromCartTest.php
  dev/tests/integration/testsuite/Magento/ConfigurableProduct/_files/quote_with_configurable_product.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Atwix, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution

#867 graphQl-810: test add non existent configurable product
  dev/tests/api-functional/testsuite/Magento/GraphQl/ConfigurableProduct/AddConfigurableProductToCartTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Atwix, Progress: accept, Progress: approved, QA passed, Release Line: 2.3, partners-contribution

#872 Added UpdateDownloadableCartItemsTest with testUpdateDownloadableCart…
  dev/tests/api-functional/testsuite/Magento/GraphQl/DownloadableProduct/UpdateDownloadableCartItemsTest.php
  dev/tests/integration/testsuite/Magento/Checkout/_files/active_quote_with_downloadable_product.php
  dev/tests/integration/testsuite/Magento/Checkout/_files/active_quote_with_downloadable_product_rollback.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Wolf Sellers, Progress: approved, Release Line: 2.3, partners-contribution

#895 Add resolver to determine if quote is virtual
  app/code/Magento/QuoteGraphQl/Model/Resolver/CartIsVirtual.php
  app/code/Magento/QuoteGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetCartIsVirtualTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetCartIsVirtualTest.php
Labels: Auto-Tests: Covered, Component: QuoteGraphQl, Progress: accept, Progress: review, Release Line: 2.3

#901 graphQl-891: refactored the customer notes field in the shipping address
  app/code/Magento/QuoteGraphQl/Model/Cart/SetShippingAddressesOnCart.php
  app/code/Magento/QuoteGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetShippingAddressOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetShippingAddressOnCartTest.php
Labels: Auto-Tests: Covered, Component: QuoteGraphQl, Partner: Atwix, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution

#915 Add input validation for authorizenet_acceptjs payment method
  app/code/Magento/AuthorizenetGraphQl/Model/AuthorizenetDataProvider.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/AuthorizenetAcceptjs/Customer/SetPaymentMethodTest.php
Labels: Auto-Tests: Covered, Component: AuthorizenetGraphQl, Partner: Something Digital, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution

#916 Deprecate setPaymentMethodAndPlaceOrderMutation
  app/code/Magento/QuoteGraphQl/Model/Resolver/SetPaymentAndPlaceOrder.php
  app/code/Magento/QuoteGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetPaymentMethodAndPlaceOrderTest.php
Labels: Auto-Tests: Covered, Component: QuoteGraphQl, Partner: Something Digital, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution

#884 graphQl-864: Prevent to return a shipping address until it is set on a cart
  app/code/Magento/QuoteGraphQl/Model/Resolver/ShippingAddresses.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetSpecifiedShippingAddressTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetSpecifiedShippingAddressTest.php
Labels: Auto-Tests: Covered, Component: QuoteGraphQl, Partner: Atwix, Release Line: 2.3, partners-contribution

#944 added link to the GraphQL Developer Guide
  README.md
Labels: Auto-Tests: Not Required, Cleanup, Community Insider: Magecom, Progress: accept, Release Line: 2.3, community-insider-contribution, small

#942 graphQl-908: deprecated region_id in customer schema
  app/code/Magento/CustomerGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Cleanup, Component: CustomerGraphQl, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#935 graphQl-907: [Customer] Deprecate customer_id in CustomerAddress
  app/code/Magento/CustomerGraphQl/Model/Customer/Address/ExtractCustomerAddressData.php
  app/code/Magento/CustomerGraphQl/Model/Customer/ExtractCustomerData.php
  app/code/Magento/CustomerGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/CreateCustomerAddressTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/CreateCustomerTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/GetAddressesTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/GetCustomerTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/UpdateCustomerAddressTest.php
Labels: Auto-Tests: Covered, Community Insider: Magecom, Component: CustomerGraphQl, Progress: accept, Release Line: 2.3, community-insider-contribution

#932 Added @deprecated to custom_attributes on CustomerAddress via directi…
  app/code/Magento/CustomerGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Cleanup, Component: CustomerGraphQl, Event: mm19br, Progress: accept, Release Line: 2.3

#909 Added description BraintreeInput
  app/code/Magento/BraintreeGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Cleanup, Community Insider: Magecom, Component: BraintreeGraphQl, Progress: accept, Progress: changes requested, Release Line: 2.3, community-insider-contribution

#845 #813: [Test coverage] Update item qty for configurable product
  dev/tests/api-functional/testsuite/Magento/GraphQl/ConfigurableProduct/UpdateConfigurableCartItemsTest.php
  dev/tests/integration/testsuite/Magento/ConfigurableProduct/_files/quote_with_configurable_product.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Atwix, Progress: accept, Progress: review, Release Line: 2.3, partners-contribution

#959 GraphQL-879 Change description for createBraintreeClientToken mutation
  app/code/Magento/BraintreeGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Cleanup, Component: BraintreeGraphQl, Progress: approved, Release Line: 2.3

#952 Add Store Name to Config Schema
  app/code/Magento/StoreGraphQl/etc/graphql/di.xml
  app/code/Magento/StoreGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Store/StoreConfigResolverTest.php
Labels: Auto-Tests: Covered, Component: StoreGraphQl, Partner: Something Digital, Progress: approved, Release Line: 2.3, partners-contribution

#953 Rename PayflowProToken Type
  app/code/Magento/PaypalGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Cleanup, Component: PaypalGraphQl, Partner: Something Digital, Release Line: 2.3, partners-contribution

#949 magento/graphql-ce#948 - Move preference for ErrorHandlerInterface
  app/etc/di.xml
  app/etc/graphql/di.xml
Labels: Auto-Tests: Not Required, Cleanup, Partner: ISM eCompany, Progress: approved, Release Line: 2.3, partners-contribution
