Repository magento/graphql-ce, pull requests merged in 2019-08, with the labels that each got.

#799 magento/graphql-ce#438: Adjust adding configurable products to the shopping cart
  app/code/Magento/ConfigurableProductGraphQl/Model/Cart/BuyRequest/SuperAttributeDataProvider.php
  app/code/Magento/ConfigurableProductGraphQl/etc/schema.graphqls
  app/code/Magento/QuoteGraphQl/Model/Cart/AddSimpleProductToCart.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/ConfigurableProduct/AddConfigurableProductToCartTest.php
Labels: Component: ConfigurableProductGraphQl, Component: QuoteGraphQl, Progress: review, Release Line: 2.3

#800 Mark config fixtures as deprecated
  dev/tests/api-functional/testsuite/Magento/GraphQl/AuthorizenetAcceptjs/Customer/SetPaymentMethodTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/AuthorizenetAcceptjs/Guest/SetPaymentMethodTest.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/disable_all_active_payment_methods.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/disable_all_active_payment_methods_rollback.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/disable_guest_checkout.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/disable_guest_checkout_rollback.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/disable_offline_shipping_methods.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/disable_offline_shipping_methods_rollback.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/enable_offline_payment_methods.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/enable_offline_payment_methods_rollback.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/enable_offline_shipping_methods.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/enable_offline_shipping_methods_rollback.php
Labels: Auto-Tests: Not Required, Award: test coverage, Partner: ISM eCompany, Progress: accept, Progress: review, Release Line: 2.3, partners-contribution

#801 Query.country doesn't work
  app/code/Magento/DirectoryGraphQl/Model/Resolver/Country.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Directory/CountryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: DirectoryGraphQl, Partner: ISM eCompany, Progress: accept, Progress: review, Release Line: 2.3, partners-contribution

#829 Moved test to the folder that suits naming convention
  dev/tests/api-functional/testsuite/Magento/GraphQl/DownloadableProduct/CustomerDownloadableProductsTest.php
Labels: Auto-Tests: Not Required, Cleanup, Progress: accept, Progress: approved, Release Line: 2.3

#859 add Magento_QuoteGraphQl dependency to Magento_ConfigurableProductGra…
  app/code/Magento/ConfigurableProductGraphQl/etc/module.xml
Labels: Auto-Tests: Not Required, Component: ConfigurableProductGraphQl, Progress: accept, Progress: approved, Release Line: 2.3
