Repository magento/graphql-ce, pull requests merged in 2019-10, with the labels that each got.

#976 Improve test coverage for Magento\AuthorizenetGraphQl\Model\AuthorizenetDataProvider
  dev/tests/api-functional/testsuite/Magento/GraphQl/AuthorizenetAcceptjs/Customer/SetPaymentMethodTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Progress: accept, Progress: approved, Release Line: 2.3

#968 MAGETWO-24676: fixed adding variation from another configurable produ…
  app/code/Magento/ConfigurableProductGraphQl/Model/Cart/BuyRequest/SuperAttributeDataProvider.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/ConfigurableProduct/AddConfigurableProductToCartTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: ConfigurableProductGraphQl, Contribution Day, Event: mageconf19, Partner: Atwix, Progress: accept, Progress: review, Release Line: 2.3, partners-contribution

#967 [PayPal] Rename PaypalExpressToken type
  app/code/Magento/PaypalGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Cleanup, Component: PaypalGraphQl, Contribution Day, Event: mageconf19, Partner: ISM eCompany, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution

#962 GraphQL-877 Rename order_id for Order type
  app/code/Magento/QuoteGraphQl/Model/Resolver/PlaceOrder.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/SetPaymentAndPlaceOrder.php
  app/code/Magento/QuoteGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/AuthorizenetAcceptjs/Customer/SetPaymentMethodTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/AuthorizenetAcceptjs/Guest/SetPaymentMethodTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Braintree/Customer/SetPaymentMethodTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Braintree/Guest/SetPaymentMethodTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/CheckoutEndToEndTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/PlaceOrderTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetPaymentMethodAndPlaceOrderTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/AllowGuestCheckoutOptionTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/CheckoutEndToEndTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/PlaceOrderTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetPaymentMethodAndPlaceOrderTest.php
  dev/tests/integration/testsuite/Magento/AuthorizenetGraphQl/Model/Resolver/Customer/PlaceOrderWithAuthorizeNetTest.php
  dev/tests/integration/testsuite/Magento/AuthorizenetGraphQl/Model/Resolver/Guest/PlaceOrderWithAuthorizeNetTest.php
  dev/tests/integration/testsuite/Magento/PaypalGraphQl/Model/Resolver/Customer/PaypalExpressSetPaymentMethodTest.php
  dev/tests/integration/testsuite/Magento/PaypalGraphQl/Model/Resolver/Customer/PlaceOrderWithPayflowLinkTest.php
  dev/tests/integration/testsuite/Magento/PaypalGraphQl/Model/Resolver/Customer/PlaceOrderWithPayflowProTest.php
  dev/tests/integration/testsuite/Magento/PaypalGraphQl/Model/Resolver/Guest/PaypalExpressSetPaymentMethodTest.php
  dev/tests/integration/testsuite/Magento/PaypalGraphQl/Model/Resolver/Guest/PaypalPayflowProSetPaymentMethodTest.php
  dev/tests/integration/testsuite/Magento/PaypalGraphQl/Model/Resolver/Guest/PlaceOrderWithHostedProTest.php
  dev/tests/integration/testsuite/Magento/PaypalGraphQl/Model/Resolver/Guest/PlaceOrderWithPayflowLinkTest.php
  dev/tests/integration/testsuite/Magento/PaypalGraphQl/Model/Resolver/Guest/PlaceOrderWithPaymentsAdvancedTest.php
Labels: Auto-Tests: Covered, Component: QuoteGraphQl, Partner: Atwix, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution

#955 Add shipping address input extension
  app/code/Magento/QuoteGraphQl/Model/Cart/GetShippingAddress.php
  app/code/Magento/QuoteGraphQl/Model/Cart/SetShippingAddressesOnCart.php
Labels: Auto-Tests: Not Required, Component: QuoteGraphQl, Partner: ISM eCompany, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution

#997 magento/graphql-ce#975: [Test coverage] Cover CartAddressTypeResolver
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetBillingAddressOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetShippingAddressOnCartTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#995 magento/graphql-ce#985: Remove unnecessary exceptions
  app/code/Magento/CustomerGraphQl/Model/Customer/CheckCustomerPassword.php
Labels: Auto-Tests: Not Required, Cleanup, Component: CustomerGraphQl, Partner: Atwix, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution

#991 graphQl-987: [Test coverage] Cover exceptions in Magento\QuoteGraphQl…
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetPaymentMethodAndPlaceOrderTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Community Insider: Magecom, Progress: accept, Release Line: 2.3, community-insider-contribution

#990 Extend test coverage for CustomerDownloadableGraphQl
  dev/tests/api-functional/testsuite/Magento/GraphQl/CustomerDownloadableProduct/CustomerDownloadableProductTest.php
  dev/tests/integration/testsuite/Magento/Downloadable/_files/product_downloadable_with_download_limit.php
  dev/tests/integration/testsuite/Magento/Downloadable/_files/product_downloadable_with_download_limit_rollback.php
Labels: Auto-Tests: Covered, Progress: accept, Progress: approved, Release Line: 2.3

#983 #981 Extend test coverage for BraintreeGraphQl
  dev/tests/api-functional/testsuite/Magento/GraphQl/Braintree/CreateBraintreeClientTokenTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Braintree/Customer/SetPaymentMethodTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Progress: accept, Progress: approved, Release Line: 2.3

#1007 magento/graphql-ce#: Editorial. Fix DownloadableProductLinks, DownloadableProductSamples descriptions
  app/code/Magento/DownloadableGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Cleanup, Component: DownloadableGraphQl, Partner: Atwix, Progress: approved, Progress: needs update, Release Line: 2.3, approved, partners-contribution

#1001 Cover exceptions in \Magento\CustomerGraphQl\Model\Resolver\CreateCustomerAddress
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/CreateCustomerAddressTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Progress: approved, Release Line: 2.3, approved

#1012 magento/graphql-ce#: Editorial. Fix CustomerOrder.increment_id description
  app/code/Magento/SalesGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Cleanup, Component: SalesGraphQl, Partner: Atwix, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution

#1028 magento/graphql-ce#1009: [Test Coverage] Cover exception in SalesGraphQl\Model\Resolver\Orders
  dev/tests/api-functional/testsuite/Magento/GraphQl/Sales/OrdersTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Atwix, Progress: changes requested, Release Line: 2.3, approved, partners-contribution

#971 Magento 2.3.2 - PWA - graphQl fetching Issue for phtml file called in static block #960
  app/code/Magento/CmsGraphQl/Model/Resolver/DataProvider/Block.php
  app/code/Magento/Widget/Model/Template/FilterEmulate.php
Labels: Award: bug fix, Component: CmsGraphQl, Component: Widget, Event: mageconf19, Partner: ISM eCompany, Progress: changes requested, QA passed, Release Line: 2.3, approved, partners-contribution
