Repository magento/graphql-ce, pull requests merged in 2019-07, with the labels that each got.

#755 Fedex Soap Mock
  dev/tests/api-functional/_files/Magento/TestModuleFedex/Model/MockResponseBodyLoader.php
  dev/tests/api-functional/_files/Magento/TestModuleFedex/Model/MockSoapClient.php
  dev/tests/api-functional/_files/Magento/TestModuleFedex/Model/MockSoapClientFactory.php
  dev/tests/api-functional/_files/Magento/TestModuleFedex/_files/mock_response_general_ca.json
  dev/tests/api-functional/_files/Magento/TestModuleFedex/_files/mock_response_general_us.json
  dev/tests/api-functional/_files/Magento/TestModuleFedex/_files/mock_response_smart_post_ca.json
  dev/tests/api-functional/_files/Magento/TestModuleFedex/_files/mock_response_smart_post_us.json
  dev/tests/api-functional/_files/Magento/TestModuleFedex/etc/di.xml
  dev/tests/api-functional/_files/Magento/TestModuleFedex/etc/module.xml
  dev/tests/api-functional/_files/Magento/TestModuleFedex/registration.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/FedEx/SetFedExShippingMethodsOnCartTest.php
  dev/tests/integration/testsuite/Magento/GraphQl/FedEx/_files/enable_fedex_shipping_method.php
  dev/tests/integration/testsuite/Magento/GraphQl/FedEx/_files/enable_fedex_shipping_method_rollback.php
Labels: Auto-Tests: Covered, Award: complex, Partner: Something Digital, Progress: approved, Release Line: 2.3, partners-contribution

#760 Correct SendFriend Visibility Check
  app/code/Magento/SendFriendGraphQl/Model/Provider/GetVisibleProduct.php
Labels: Auto-Tests: Not Required, Component: SendFriendGraphQl, Partner: Something Digital, Progress: approved, Release Line: 2.3, partners-contribution

#757 Remove PaymentMethodAdditionalDataInput From Schema
  dev/tests/api-functional/_files/Magento/TestModuleAuthorizenetAcceptjs/registration.php
  dev/tests/api-functional/_files/Magento/TestModuleFedex/registration.php
  dev/tests/api-functional/_files/Magento/TestModuleUsps/registration.php
Labels: Auto-Tests: Covered, Imported, Partner: Something Digital, Progress: approved, Progress: ready for delivery, Release Line: 2.3, partners-contribution

#775 Declare @doc and @resolver directives
  app/code/Magento/GraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Component: GraphQl, Imported, Progress: approved, Release Line: 2.3

#780 magento/graphql-ce# Editorial. Fix countries name in the CountryCodeEnum
  app/code/Magento/CustomerGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Component: CustomerGraphQl, Imported, Partner: Atwix, Progress: approved, Release Line: 2.3, partners-contribution

#789 graphQl-738: un-skipped and fixed the media gallery test on the product
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/MediaGalleryTest.php
Labels: Auto-Tests: Covered, Imported, Partner: Atwix, Progress: approved, Release Line: 2.3, partners-contribution

#796 GraphQl-795: WebAPI test failing with MSI for AddProductToCartTest::testAddMoreProductsThatAllowed
  dev/tests/api-functional/testsuite/Magento/GraphQl/CatalogInventory/AddProductToCartTest.php
Labels: Progress: review, Release Line: 2.3
