Repository magento/graphql-ce, pull requests merged in 2019-12, with the labels that each got.

#1058 #1057: Emulate area code for graphql category/product attributes
  app/code/Magento/CatalogGraphQl/etc/graphql/di.xml
Labels: Component: CatalogGraphQl, Progress: accept, Progress: approved, QA passed, Release Line: 2.3

#1077 magento/graphql-ce#: [Test coverage]. Mutation: applyCouponToCart. Cover exception - Required parameter "coupon_code" is missing
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/ApplyCouponToCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/ApplyCouponToCartTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Atwix, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution

#1076 magento/graphql-ce#1068: [Test Coverage] Extend test coverage for RemoveItemFromCart
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/RemoveItemFromCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/RemoveItemFromCartTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Atwix, Progress: accept, Progress: approved, Release Line: 2.3, partners-contribution

#1020 Throw GraphQL input exception when provided store is not enabled.
  app/code/Magento/StoreGraphQl/Controller/HttpRequestValidator/StoreValidator.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Store/StoreValidationTest.php
  dev/tests/integration/testsuite/Magento/Store/_files/inactive_store.php
  dev/tests/integration/testsuite/Magento/Store/_files/inactive_store_rollback.php
Labels: Auto-Tests: Covered, Award: bug fix, Progress: review

#227 GraphQl-51: [Query] My Account > My Product Reviews / GraphQl-201: Product Ratings and Reviews
  app/code/Magento/CustomerGraphQl/Model/Customer/CheckCustomerAccountInterface.php
  app/code/Magento/CustomerGraphQl/etc/di.xml
  app/code/Magento/Review/Api/Data/RatingInterface.php
  app/code/Magento/Review/Api/Data/ReviewInterface.php
  app/code/Magento/Review/Api/Data/ReviewSearchResultsInterface.php
  app/code/Magento/Review/Model/Rating.php
  app/code/Magento/Review/Model/ResourceModel/Rating.php
  app/code/Magento/Review/Model/ResourceModel/Rating/Option.php
  app/code/Magento/Review/Model/ResourceModel/Review/Collection.php
  app/code/Magento/Review/Model/Review.php
  app/code/Magento/Review/etc/di.xml
  app/code/Magento/ReviewGraphQl/Model/Resolver/CreateReview.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Customer/Product/Reviews.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Customer/Product/Reviews/FilterArgument/ReviewEntityAttributesForAst.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/Ratings.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/Ratings/DataProvider.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/Review/CreatedAt.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/Reviews.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/Reviews/DataProvider.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/Reviews/Query/Filter.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/Reviews/SearchResult.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/Reviews/SearchResultFactory.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/ProductReviews.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Rating/Options.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Rating/Options/DataProvider.php
  app/code/Magento/ReviewGraphQl/README.md
  app/code/Magento/ReviewGraphQl/composer.json
  app/code/Magento/ReviewGraphQl/etc/di.xml
  app/code/Magento/ReviewGraphQl/etc/module.xml
  app/code/Magento/ReviewGraphQl/etc/schema.graphqls
  app/code/Magento/ReviewGraphQl/registration.php
  composer.json
  dev/tests/api-functional/testsuite/Magento/GraphQl/Review/CreateProductReviewsTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Review/CustomerProductReviewsTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Review/ProductReviewsTest.php
  dev/tests/integration/testsuite/Magento/Review/_files/customer_reviews.php
  dev/tests/integration/testsuite/Magento/Review/_files/customer_reviews_rollback.php
Labels: Award: complex, Award: special achievement, on hold, requires-documentation

#338 GraphQl-200: Product Compare
  app/code/Magento/ProductCompareGraphQl/Model/Resolver/AddProductToCompareList.php
  app/code/Magento/ProductCompareGraphQl/Model/Resolver/CompareProductsList.php
  app/code/Magento/ProductCompareGraphQl/Model/Resolver/CreateCompareList.php
  app/code/Magento/ProductCompareGraphQl/Model/Resolver/GetCompareListItems.php
  app/code/Magento/ProductCompareGraphQl/Model/Resolver/RemoveProductFromCompareList.php
  app/code/Magento/ProductCompareGraphQl/README.md
  app/code/Magento/ProductCompareGraphQl/composer.json
  app/code/Magento/ProductCompareGraphQl/etc/module.xml
  app/code/Magento/ProductCompareGraphQl/etc/schema.graphqls
  app/code/Magento/ProductCompareGraphQl/registration.php
  composer.json
  composer.lock
  dev/tests/api-functional/testsuite/Magento/ProductCompare/AddProductToCompareListTest.php
  dev/tests/api-functional/testsuite/Magento/ProductCompare/CompareProductsListTest.php
  dev/tests/api-functional/testsuite/Magento/ProductCompare/CreateCompareListTest.php
  dev/tests/api-functional/testsuite/Magento/ProductCompare/RemoveProductFromCompareListTest.php
Labels: Award: complex, Award: special achievement, on hold

#982 [WIP] Add products to the Wishlist
  app/code/Magento/CatalogGraphQl/Model/GetProductOptionFromRequest.php
  app/code/Magento/CatalogGraphQl/Model/ProductOption/ProductOption.php
  app/code/Magento/CatalogGraphQl/Model/ProductOption/ProductOptionInterface.php
  app/code/Magento/QuoteGraphQl/etc/schema.graphqls
  app/code/Magento/WishlistGraphQl/Model/AddItemsToWishlist.php
  app/code/Magento/WishlistGraphQl/Model/GetAvailableProductsBySkuList.php
  app/code/Magento/WishlistGraphQl/Model/GetWishlistForCustomer.php
  app/code/Magento/WishlistGraphQl/Model/Resolver/AddProductsToWishlist.php
Labels: Award: special achievement, Partner: Atwix, Progress: review, QA failed, on hold, partners-contribution, requires-documentation
