Repository magento/graphql-ce, pull requests merged in 2019-05, with the labels that each got.

#636 #628 Check if email or password are empty (generateCustomerToken)
  app/code/Magento/CustomerGraphQl/Model/Resolver/GenerateCustomerToken.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/GenerateCustomerTokenTest.php
Labels: Component: CustomerGraphQl, Partner: Interactiv4, Progress: accept, Release Line: 2.3, partners-contribution

#648 graphQl-640: fixed input type declaration for PaymentMethodAdditional…
  app/code/Magento/QuoteGraphQl/etc/schema.graphqls
Labels: Component: QuoteGraphQl, Partner: Atwix, Progress: accept, QA passed, Release Line: 2.3, partners-contribution

#651 magento/graphql-ce#649: GetSpecifiedBillingAddressTest fix misspelling
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetSpecifiedBillingAddressTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetSpecifiedBillingAddressTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution, test-coverage

#652 magento/graphql-ce#602: [Test Coverage] Get Specified shipping address
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetSpecifiedShippingAddressTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetSpecifiedShippingAddressTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#653 Added Test coverage for "Get Selected payment method"
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetSelectedPaymentMethodTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetSelectedPaymentMethodTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#650 GraphQl-535: provided catalog configs
  app/code/Magento/CatalogGraphQl/etc/graphql/di.xml
  app/code/Magento/CatalogGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/StoreConfigTest.php
Labels: Component: CatalogGraphQl, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#665 Prevent Error When Getting Payment Method Before Setting
  app/code/Magento/QuoteGraphQl/Model/Resolver/SelectedPaymentMethod.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetSelectedPaymentMethodTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetSelectedPaymentMethodTest.php
Labels: Component: QuoteGraphQl, Partner: Something Digital, Progress: accept, Release Line: 2.3, partners-contribution

#666 Prevent undefined index warning before setting shipping method
  app/code/Magento/QuoteGraphQl/Model/Resolver/ShippingAddress/SelectedShippingMethod.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetSelectedShippingMethodTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetSelectedShippingMethodTest.php
Labels: Component: QuoteGraphQl, Partner: Something Digital, Progress: accept, QA passed, Release Line: 2.3, partners-contribution

#689 testBundleProductWithNotVisibleChildren fix misspelling
  dev/tests/api-functional/testsuite/Magento/GraphQl/Bundle/BundleProductViewTest.php
Labels: Partner: Krish Technolabs, Progress: accept, Release Line: 2.3, partners-contribution

#694 574 - Unskip tests Cart testApplyExpiredCoupon
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/ApplyCouponToCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/ApplyCouponToCartTest.php
Labels: Partner: Interactiv4, Progress: accept, Release Line: 2.3, partners-contribution

#695 686 Remove extra quoation and change to 'must' Error messages
  app/code/Magento/CustomerGraphQl/Model/Resolver/IsEmailAvailable.php
  app/code/Magento/CustomerGraphQl/Model/Resolver/UpdateCustomerAddress.php
Labels: Component: CustomerGraphQl, Partner: Interactiv4, Progress: accept, Release Line: 2.3, partners-contribution

#696 678 Add Tests Email Sender empty send product wich not visible in catalog
  dev/tests/api-functional/testsuite/Magento/GraphQl/SendFriend/SendFriendTest.php
  dev/tests/integration/testsuite/Magento/GraphQl/Catalog/_files/simple_product_without_visibility.php
  dev/tests/integration/testsuite/Magento/GraphQl/Catalog/_files/simple_product_without_visibility_rollback.php
Labels: Partner: Interactiv4, Release Line: 2.3, partners-contribution

#707 Tidied spelling/grammar for GraphQL documentation
  app/code/Magento/BundleGraphQl/etc/schema.graphqls
  app/code/Magento/CatalogGraphQl/etc/schema.graphqls
Labels: Cleanup, Component: BundleGraphQl, Component: CatalogGraphQl, Partner: Pinpoint, Release Line: 2.3, partners-contribution
