Repository magento/graphql-ce, pull requests merged in 2019-03, with the labels that each got.

#403 Test coverage of Adding configurable product to shopping cart #381
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/AddConfigurableProductToCartTest.php
Labels: Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#405 Notice: Undefined index: shipping_carrier_code is returned instead of Required parameter "shipping_carrier_code" is missin
  app/code/Magento/QuoteGraphQl/Model/Resolver/SetShippingMethodsOnCart.php
Labels: Partner: ISM eCompany, Progress: accept, Progress: needs update, partners-contribution

#417 Cannot return null for non-nullable field SelectedShippingMethod.amount
  app/code/Magento/QuoteGraphQl/Model/Cart/ExtractDataFromAddress.php
Labels: Component: QuoteGraphQl, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#367 Fix message when maxSaleQty is set and qty is more than maxSaleQty
  dev/tests/api-functional/testsuite/Magento/GraphQl/CatalogInventory/AddProductToCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/AddSimpleProductToCartTest.php
Labels: Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#444 429 - Test coverage: nonExistentCart
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetBillingAddressOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetPaymentMethodOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetBillingAddressOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetPaymentMethodOnCartTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#442 Test coverage: Set OfflineShipping methods on Cart
  dev/tests/api-functional/testsuite/Magento/GraphQl/OfflineShipping/SetOfflineShippingMethodsOnCartTest.php
  dev/tests/integration/testsuite/Magento/OfflineShipping/_files/enable_offline_shipping_methods.php
  dev/tests/integration/testsuite/Magento/OfflineShipping/_files/enable_offline_shipping_methods_rollback.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#450 420 test coverage get available payment methods guest
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetAvailablePaymentMethodsTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#455 mutations add<Product Type>ProductsToCart dosn't check if the cart is active
  app/code/Magento/QuoteGraphQl/Model/Cart/GetCartForUser.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetCartTest.php
Labels: Component: QuoteGraphQl, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#466 Corrected test case method name
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetBillingAddressOnCartTest.php
Labels: Progress: accept, Release Line: 2.3

#471 graphQl-430: added testReSetPaymentMethod for guest and customer
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetPaymentMethodOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetPaymentMethodOnCartTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#487 While adding the product to Cart when the requested Qty is zero or less then zero, one was unexpectedly added
  app/code/Magento/QuoteGraphQl/Model/Cart/AddSimpleProductToCart.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/AddSimpleProductToCartTest.php
Labels: Component: QuoteGraphQl, Partner: ISM eCompany, Progress: accept, QA passed, Release Line: 2.3, kharkivcd19, partners-contribution

#492 #482: Adjusted test coverage for setting billing address
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetBillingAddressOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetBillingAddressOnCartTest.php
Labels: Progress: accept, Release Line: 2.3

#506 Missing key model in Wishlist value data
  app/code/Magento/WishlistGraphQl/Model/Resolver/WishlistResolver.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Wishlist/WishlistTest.php
Labels: Component: WishlistGraphQl, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#449 GraphQL-432: Test coverage: 'reversed quote id to masked cart id'
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetAvailablePaymentMethodsTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetBillingAddressOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetPaymentMethodOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetShippingAddressOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetShippingMethodsOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/GetMaskedQuoteIdByReservedOrderId.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetAvailablePaymentMethodsTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetBillingAddressOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetPaymentMethodOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetShippingAddressOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetShippingMethodsOnCartTest.php
Labels: Partner: Vaimo, Progress: accept, Release Line: 2.3, partners-contribution

#472 428 - Test coverage: GetAvailableShippingMethodsTest
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetAvailableShippingMethodsTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetAvailableShippingMethodsTest.php
  dev/tests/integration/testsuite/Magento/Checkout/_files/quote_with_simple_product_saved_rollback.php
  dev/tests/integration/testsuite/Magento/Checkout/_files/simple_product_rollback.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/disable_offline_shipping_methods.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/disable_offline_shipping_methods_rollback.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#495 magento/graphql-ce#: Add missed rollback
  dev/tests/integration/testsuite/Magento/Customer/_files/three_customers_rollback.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, lvivcd19, partners-contribution, test-coverage

#503 Resolve random fails on Bamboo with \Magento\GraphQl\Quote\CouponTest:testApplyCouponToCartWithNoItems
  app/code/Magento/QuoteGraphQl/Model/Resolver/ApplyCouponToCart.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/CouponTest.php
Labels: Component: QuoteGraphQl, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#548 magento/graphql-ce#547: 547 - ProductFilterInput. Remove duplicate "special_price" field
  app/code/Magento/CatalogGraphQl/etc/schema.graphqls
Labels: Component: CatalogGraphQl, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution
