Repository magento/graphql-ce, pull requests merged in 2019-06, with the labels that each got.

#677 675 test generate customer token
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/GenerateCustomerTokenTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#703 GraphQl-484: [Test Coverage] 'SetShippingAddressOnCart' functionality
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetShippingAddressOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetShippingAddressOnCartTest.php
Labels: Progress: accept, Release Line: 2.3

#708 GraphQL-676: Test unsubscribe customer
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/SubscriptionStatusTest.php
Labels: Partner: Imagination Media, Progress: accept, Release Line: 2.3, partners-contribution

#711 #681: [Test coverage] missed or empty "cart_id" in cart operations
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/AddSimpleProductToCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/AddVirtualProductToCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/PlaceOrderTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/RemoveCouponFromCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/AddSimpleProductToCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/AddVirtualProductToCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/PlaceOrderTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/RemoveCouponFromCartTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#722 Fix typo: resolve() -> resolver()
  app/code/Magento/CatalogGraphQl/etc/schema.graphqls
Labels: Component: CatalogGraphQl, Progress: accept, Release Line: 2.3

#721 url_path is not working as documented
  app/code/Magento/CatalogUrlRewriteGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Component: CatalogUrlRewriteGraphQl, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#743 Differentiate descriptions
  app/code/Magento/RelatedProductGraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Component: RelatedProductGraphQl, Progress: accept, Release Line: 2.3

#749 #687 Remove Redundant 'isset'
  app/code/Magento/CustomerGraphQl/Model/Resolver/CreateCustomer.php
  app/code/Magento/CustomerGraphQl/Model/Resolver/CreateCustomerAddress.php
  app/code/Magento/CustomerGraphQl/Model/Resolver/DeleteCustomerAddress.php
  app/code/Magento/CustomerGraphQl/Model/Resolver/GenerateCustomerToken.php
  app/code/Magento/CustomerGraphQl/Model/Resolver/IsEmailAvailable.php
  app/code/Magento/CustomerGraphQl/Model/Resolver/UpdateCustomer.php
  app/code/Magento/CustomerGraphQl/Model/Resolver/UpdateCustomerAddress.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/AddSimpleProductsToCart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/ApplyCouponToCart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/Cart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/PlaceOrder.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/RemoveCouponFromCart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/RemoveItemFromCart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/SetBillingAddressOnCart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/SetGuestEmailOnCart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/SetPaymentMethodOnCart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/SetShippingAddressesOnCart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/SetShippingMethodsOnCart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/UpdateCartItems.php
Labels: Auto-Tests: Not Required, Component: CustomerGraphQl, Component: QuoteGraphQl, Partner: TechDivision, Progress: accept, Release Line: 2.3, partners-contribution
